@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap");

:root {
  --color-light: #f1faee;
  --color-dark: #1d3557;
  --color3: #e63946;
  --color4: #457b9d;
  --color5: #a8dadc;
  --index: calc(1vh + 1vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Unbounded", cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Background area */

.area {
  background: var(--color-dark);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.digits {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.digits li {
  position: absolute;
  word-break: break-all;
  display: block;
  list-style: none;
  overflow-wrap: break-word;
  overflow: hidden;
  font-size: 2.5rem;
  color: var(--color4);
  animation: animate 25s linear infinite;
  bottom: -10rem;
  opacity: 1;
  transition: opacity 1s ease;
}

.digits li.hide {
  opacity: 0;
}

/* Password container */
.container {
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 2rem;
  width: 500px;
  max-width: 95%;
  border-radius: 30px;
  border: 5px solid var(--color-dark);
  box-shadow: 0px 30px 72px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 3rem;
  color: var(--color-light);
}

/* Password line */
.result-container {
  background-color: var(--color-light);
  border: 3px solid var(--color-dark);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 1rem 0.5rem;
  height: 3.5rem;
  width: 100%;
  overflow: hidden;
}

.result-container span::selection {
  background-color: var(--color3);
  color: var(--color-light);
}

.result-container #result {
  max-width: calc(100% - 120px);
}

.result-container .result-buttons {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 100%;
  padding-left: 30px;
  border: none;
  background: linear-gradient(to left, var(--color-light) 66%, transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.result-buttons .btn {
  background: transparent;
  border: none;
  color: var(--color3);
  font-size: 24px;
  padding: 0.5rem;
  cursor: pointer;
  transition: color 0.25s ease-in, transform 0.25s ease-in-out;
}

.result-buttons .btn:hover {
  color: var(--color5);
}

.result-buttons .btn#refresh:hover {
  transform: rotate(180deg);
}

.presets-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.select-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

.presets-select {
  width: 100%;
  height: 3rem;
  background-color: var(--color-light);
  border: 3px solid var(--color-dark);
  border-radius: 6px;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-dark);
  cursor: pointer;
}

.select-item {
  background-color: var(--color-light);
}

/* Options */

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 0;
  font-size: 1.2rem;
}

/* Password Lenght slider */

.setting.length {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setting.length label {
  margin-left: 0.5rem;
}

.setting.length label span {
  font-weight: 700;
}

.setting.length input[type="range"] {
  margin: 1.2rem 0;
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
}

.setting.length input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.setting.length input[type="range"]:focus {
  outline: none;
}

.setting.length input[type="range"]::-ms-track {
  width: 90%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.setting.length input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3px solid var(--color3);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -0.5rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  transition: background 0.25s ease;
}

.setting.length input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--color3);
}

/* Firefox */
.setting.length input[type="range"]::-moz-range-thumb {
  border: 3px solid var(--color3);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* IE */
.setting.length input[type="range"]::-ms-thumb {
  border: 3px solid var(--color3);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.setting.length input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: var(--color-dark);
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  transition: background 0.25s ease;
}

.setting.length input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--color5);
}

.setting.length input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: var(--color-dark);
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.setting.length input[type="range"]::-ms-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: var(--color-dark);
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  color: transparent;
}

.setting.length input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.setting.length input[type="range"]:focus::-ms-fill-lower {
  background: var(--color5);
}

.setting.length input[type="range"]::-ms-fill-upper {
  background: var(--color-dark);
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.setting.length input[type="range"]:focus::-ms-fill-upper {
  background: var(--color-dark);
}

/* Options checkboxes */

.checkboxes-container {
  margin: 0 1.5rem 2rem 1.5rem;
}

.setting-description {
  font-size: 1.5rem;
}

.toggler-wrapper {
  display: flex;
  align-items: center;
  z-index: 1;
}

.toggler {
  display: inline-block;
  height: 1.75rem;
  position: relative;
  width: 3rem;
}

.toggler input {
  display: none;
}

.slider {
  background: var(--color-dark);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: var(--color3);
  bottom: 0.25rem;
  content: "";
  height: 1.25rem;
  left: 0.25rem;
  position: absolute;
  transition: 0.25s;
  width: 1.25rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

input:checked + .slider {
  background: var(--color5);
}

input:checked + .slider::before {
  background: var(--color-light);
}

input:checked + .slider::before {
  transform: translateX(1.25rem) scale(1.2);
}

.slider.round {
  border-radius: 2rem;
}

.slider.round::before {
  border-radius: 2rem;
}

.generate-button {
  position: relative;
  display: block;
  width: 100%;
  height: 3rem;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.1s ease box-shadow 0.1s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.generate-button::before {
  content: "";
  filter: blur(1rem);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -200%;
  width: 100%;
  transform: scale(200%);
  background-color: var(--color4);
  transition: left 0.25s ease-in;
  z-index: -1;
}

.generate-button:hover::before {
  left: 0;
}

.generate-button:active::before {
  background-color: var(--color3);
}

.generate-button:active {
  transform: translateY(0.25rem);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  100% {
    transform: translateY(-150vh) rotate(720deg);
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    margin-top: -3rem;
    margin-bottom: 1.5rem;
  }

  .digits li {
    font-size: 1.75rem;
  }

  .container {
    padding: 1rem;
    border-radius: 15px;
    border: 5px solid var(--color-dark);
  }

  .result-container {
    border-radius: 6px;
    font-size: 12px;
    font-weight: 700;
    padding: 0.5rem 0.5rem;
    height: 2.5rem;
  }

  .presets-area {
    margin: 1rem 0;
  }

  .presets-select {
    height: 2.5rem;
    border-radius: 6px;
    padding: 0.5rem;
    font-size: 12px;
  }

  .setting {
    margin: 0.5rem 0;
    font-size: 14px;
  }

  .setting.length label {
    margin-left: 0;
  }

  .checkboxes-container {
    margin: 0 0.75rem 1rem 0.75rem;
  }

  .setting-description {
    font-size: 1.25rem;
  }
}

@media (max-width: 350px) {
  body {
    overflow-y: visible;
    justify-content: flex-start;
  }

  .area {
    height: 130%;
  }
}
